HRFLOW_API_KEY=ask_4b97307d1710e18cf742123d599139c5
HRFLOW_BASE_URL=https://api.hrflow.ai/v1
HRFLOW_SOURCE_KEY=
HRFLOW_BOARD_KEY=

OPEN_SOURCE_LLM_API_KEY=
OPEN_SOURCE_LLM_BASE_URL=
OPEN_SOURCE_LLM_MODEL=

ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=
